<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="https://drive.google.com/open?id=1FiRDHCVgsSkL2sx52lqppj7XuZZT4bBk" target="_blank">Resume</a></li> -->
				<li><a href="https://drive.google.com/open?id=1FiRDHCVgsSkL2sx52lqppj7XuZZT4bBk" target="_blank">Resume</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:maayez.imam@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/amaayezing" target="_blank">Github</a></li>
				<li><a href="https://www.linkedin.com/in/maayezimam/" target="_blank">Linkedin</a></li>
				<li><a href="https://www.instagram.com/amaayezing/" target="_blank">Instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
